<%- include("header") -%>
<h2>
  To do list is the online list created so that one can be benifted with it and
  can make his/her life easy.....
</h2>
<p>yes u heard it right</p>
<%- include("footer") -%>
