<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>To do list</title>
  </head>
  <body>
    <% if(kindOfday==="Saturday" || kindOfday=== "Sunday"){ %>
    <h1 style="color: purple"><%= kindOfday %> </h1>
    <% }else{ %>
    <h1 style="color: blue"><%= kindOfday %> </h1>
    <% } %>

    <ul>
     
     <% for(var i=0; i<newItems.length; i++){  %>
        <li> <%= newItems[i]%> </li>

    <%  } %>
    </ul>
    <form action="/" method="post">
      <input type="text" name="newItem" />
      <button type="submit">Add</button>
    </form>
  </body>
</html>
